# Import

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Web Scrap the postal codes

In [14]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

# Drop the Borough Not Assigned Postal Codes

In [39]:
clean_df = df[df.Borough!='Not assigned'].copy()
print(clean_df.shape)
clean_df.sort_values(['Postal Code', 'Borough'], inplace=True)
clean_df.head()

(103, 3)

   Postal Code      Borough                            Neighborhood
9          M1B  Scarborough                          Malvern, Rouge
18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
27         M1E  Scarborough       Guildwood, Morningside, West Hill
36         M1G  Scarborough                                  Woburn
45         M1H  Scarborough                               Cedarbrae

# Group the neighborhoods in the same borough

In [40]:
# group neighborhoods in the same borough
clean_df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
grouped_df = clean_df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
print(grouped_df.shape)
grouped_df.head()

(103, 3)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

# for Neighborhood="Not assigned", make the value the same as Borough

In [43]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in grouped_df.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
grouped_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

# Read the Lat Long Coordinates csv file

In [37]:
cord_df = pd.read_csv('Geospatial_Coordinates.csv')
cord_df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
cord_df

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

# Merge the Borough, Neighbourhoods with the Lat, Long values

In [44]:
toronto_df = grouped_df.merge(cord_df)
print(toronto_df.shape)
toronto_df.head()

(103, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476